<style type="text/css">
<!-- 
  .Normal {font-family:"MS UI Gothic",selif; font-size:90%; line-height:130%}
  .DT {font-size:110%;font-weight: bold; background-color:#ffffff; color:#007000;}
  .Footer {font-size: 80%}

  .TC {background-color:#ffeaff;}
  TABLE.ltb { font-family:"MS UI Gothic",selif; font-size:80%; }

  a:link {text-decoration:none; background-color:#ffffff;color:#3333ff;}
  a:visited {text-decoration:none; background-color:#ffffff;color:#9999dd;}
  a:active {text-decoration:none; background-color:#ffffff;color:#ff0000;}
  a:hover {text-decoration:none; background-color:#ffffff;color:#ff0000;}

  hr {height: 1px; border: solid #737373; }

  body {background-color:#ffffff;color:#333333;}
-->
</style>